
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Fungi Turkey Türkiye'nin Makro Mantarları">

	<meta name="author" content="Fungi Turkey">

	<title>Fungi Turkey © | Üye Profil</title>

	<!-- Mobile Specific Meta
	  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="~/bingo/images/black1.png" />

	<!-- CSS
	================================================== -->
	<!-- Themefisher Icon font -->
	<link rel="stylesheet" href="~/bingo/plugins/themefisher-font/style.css">
	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="~/bingo/plugins/bootstrap/css/bootstrap.min.css">
	<!-- Lightbox.min css -->
	<link rel="stylesheet" href="~/bingo/plugins/lightbox2/dist/css/lightbox.min.css">
	<!-- animation css -->
	<link rel="stylesheet" href="~/bingo/plugins/animate/animate.css">
	<!-- Slick Carousel -->
	<link rel="stylesheet" href="~/bingo/plugins/slick/slick.css">
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="~/bingo/css/style.css">

</head>

<body id="body">

	<!--
	 Start Preloader
	 ==================================== -->
	<div id="preloader">
		<div class='preloader'>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	<header class="navigation fixed-top">
		<div class="container">
			<!-- main nav -->
			<nav class="navbar navbar-expand-lg navbar-light">
				<!-- logo -->
				<a class="navbar-brand logo" href="/Slider/Index/">
					<img class="logo-default" src="~/bingo/images/black.png" alt="logo" style="width:105px; height:50px;" />
					<img class="logo-white" src="~/bingo/images/white.png" alt="logo" style="width:105px; height:50px;" />
				</a>
				<!-- /logo -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
						aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navigation">
					<ul class="navbar-nav ml-auto text-center">
						<li class="nav-item ">
							<a class="nav-link" href="/Member/MemberProfile/">Profilim</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/Member/MemberBlogComList/">Blog Yorumlarım</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/Member/MemberActivityComList/">Etkinlik Yorumlarım</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/Member/MemberRecordList/">Kayıtlarım</a>
						</li>
						@*<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
							   aria-haspopup="true" aria-expanded="false">
								Mesajlar
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/Member/MemberContactInbox/">Gelen Mesajlar</a>
								<a class="dropdown-item" href="/Member/MemberContactSendbox/">Gönderilen Mesajlar</a>
								<a class="dropdown-item" href="/Member/NewMessage/">Mesaj Gönder</a>
							</div>
						</li>*@
						<li class="nav-item ">
							<a class="nav-link" href="/Slider/Index/">Ana Sayfa</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/MemberLogin/LogOut/">Çıkış</a>
						</li>
					</ul>
				</div>
			</nav>
			<!-- /main nav -->
		</div>
	</header>
	<section class="single-page-header2">
	</section>

	@RenderBody()

	<script src="~/bingo/plugins/jquery/jquery.min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
	<script src="~/bingo/plugins/google-map/gmap.js"></script>

	<!-- Form Validation -->
	<script src="~/bingo/plugins/form-validation/jquery.form.js"></script>
	<script src="~/bingo/plugins/form-validation/jquery.validate.min.js"></script>

	<!-- Bootstrap4 -->
	<script src="~/bingo/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- Parallax -->
	<script src="~/bingo/plugins/parallax/jquery.parallax-1.1.3.js"></script>
	<!-- lightbox -->
	<script src="~/bingo/plugins/lightbox2/dist/js/lightbox.min.js"></script>
	<!-- Owl Carousel -->
	<script src="~/bingo/plugins/slick/slick.min.js"></script>
	<!-- filter -->
	<script src="~/bingo/plugins/filterizr/jquery.filterizr.min.js"></script>
	<!-- Smooth Scroll js -->
	<script src="~/bingo/plugins/smooth-scroll/smooth-scroll.min.js"></script>

	<!-- Custom js -->
	<script src="~/bingo/js/script.js"></script>

</body>
</html>
