
@model EntityLayer.Concrete.Sponsor

@{
	ViewBag.Title = "AAddSponsor";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-xl-12 col-xxl-12">
	<div class="card">
		<div class="card-header">
			<h4 class="card-title">Sponsor Ekleme</h4>
		</div>
		<div class="card-body">
			<div class="basic-form">
				@using (Html.BeginForm("AAddSponsor", "Sponsor", FormMethod.Post, new { enctype = "multipart/form-data" }))
				{
					<div class="form-group">
						<label>Sponsor Adı</label>
						<input type="text" name="SponsorName" required="" class="form-control input-default">
						@Html.ValidationMessageFor(x => x.SponsorName, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						<label>Sponsor WebSite</label>
						<input type="text" name="SponsorWebSite" required="" class="form-control input-default">
						@Html.ValidationMessageFor(x => x.SponsorWebSite, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						<label>Sponsor Logo</label>
						<input type="file" name="Image" class="form-control" required="">
					</div>
					<br />
					<button type="submit" class="btn btn-primary">Ekle</button>
				}
			</div>
		</div>
	</div>
</div>

