
@model IEnumerable<EntityLayer.Concrete.About>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/AnaLayout.cshtml";
}

<section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Hakkımızda</h2>
				<ol class="breadcrumb header-bradcrumb">
					<li><a href="/Slider/Index/">Ana Sayfa /</a></li>
					<li class="active">Hakkımızda</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="company-mission section-sm bg-gray">
	<div class="container">
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-md-6 mt-4">
					<h3>Misyonumuz</h3>
					<p>@Html.Raw(item.Mission)</p>
					<img src="~/bingo/images/resim/fungi1.jpeg" alt="" class="img-fluid mt-30">
				</div>
				<div class="col-md-6 mt-4">
					<h3>Vizyonumuz</h3>
					<p>@Html.Raw(item.Vision)</p>
					<img src="~/bingo/images/resim/fungi2.jpeg" alt="" class="img-fluid mt-30">
				</div>
			}
		</div>
	</div>
</section>

@Html.Action("TeamList","About")

@Html.Action("Index", "Footer")